 .outof {
      color: rgb(89, 114, 163);
      display: flex;
      -moz-box-align: center;
      align-items: center;
      font-size: 14px;
      padding-left: 10px;
      // margin-bottom: 15px;
      width: 100%;

      .status {
        // text-decoration: underline;
        // cursor: pointer;
        font-size: 12px;
        min-width: 16px;
        text-align: center;
      }

      .progressWrapper {
        border-radius: 2px;
        height: 8px;
        flex: 1 1 0%;
        margin-left: 10px;
        background-color: rgba(220, 228, 243, 0.6);
        position: relative;
        overflow: hidden;

        .bar {
          position: absolute;
          left: 0px;
          top: 0px;
          height: 100%;
          border-radius: 2px;
          width: 35%;
          background-color: rgb(57, 183, 255);
          transition: width 200ms ease 0s;
        }
      }
    }