.container {
  // font-size: 2rem;

  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  // align-items: flex-end;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // background-color: aqua;

  // margin-top: 2rem;
  z-index: -2;
  position: relative;

  .day {
    text-transform: uppercase;
    color: rgb(150, 146, 146);
    font-weight: 300;
  }




  .mainFull{
    width: 100%;
  }

  .main {
    // background-color: #f900bf;
    // width: calc(100% - 18rem);
    margin-top: 3rem;
    // flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    // margin-right: 0;
    transition: width 0.3s cubic-bezier(0.5, 0, 0, 0.75);


    @media screen and (max-width: 500px) {
      width: 100vw;
      margin-top: 4rem;
      z-index: -1;
      // justify-content: center;
      // background-color: #19e712;
      // margin-top: 0;
      // margin-left: 0;
    }

   
  }

  .Defaultmain {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #19e712;
    flex: 2;
  }
}

// f

.tasklist {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  // background-color: blue;
  width: max-content;
  // margin: auto;
  width: 768px;
  padding: 0 2rem;
  // overflow-y: scroll;

  @media screen and (max-width: 500px) {
      width: 90vw;
      padding: 0;
      margin-top: 1rem;
      // background-color: #ffffff;
      // z-index: -1;
    }






  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
    font-weight: 700;
    // background-color: blue;
    // margin-bottom: 1rem;

    @media screen and (max-width: 500px) {
      font-size: 2rem;
    }

    .listTitle {
      height: max-content !important;



    }

    .listTitleInput {
      height: max-content !important;
      width: 100%;
    }
  }
}
