.container {
  // font-size: 2rem;
  max-width: 900px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // background-color: aqua;

  margin-top: 2rem;


  .day {
    text-transform: uppercase;
    color: rgb(150, 146, 146);
    font-weight: 300;
  }

  form{
    margin-bottom: 1.5rem;
  }
}

.tasklist {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  // background-color: blue;
  width: max-content;
  // margin: auto;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: blue;
    // margin-bottom: 1rem;
  }

  .outof {
    color: rgb(89, 114, 163);
    display: flex;
    -moz-box-align: center;
    align-items: center;
    font-size: 14px;
    padding-left: 10px;
    // margin-bottom: 15px;
    min-width: 120px;

    .status {
      text-decoration: underline;
      // cursor: pointer;
      font-size: 12px;
      min-width: 16px;
      text-align: center;
    }

    .progressWrapper {
      border-radius: 2px;
      height: 8px;
      flex: 1 1 0%;
      margin-left: 10px;
      background-color: rgba(220, 228, 243, 0.6);
      position: relative;
      overflow: hidden;

      .bar {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        border-radius: 2px;
        width: 35%;
        background-color: rgb(57, 183, 255);
        transition: width 200ms ease 0s;
      }
    }
  }

  .addTask {
    // padding: 12px 10px;
    margin-top: 15px;
    border-radius: 8px;

    display: grid;
    grid-template-columns: 40px 1fr min-content;
    -moz-box-align: center;
    align-items: center;
    // gap: 10px;
    background-color: rgba(220, 228, 243, 0.5);
    border-radius: 8px;
    // padding: 1rem;
    margin-bottom: 10px;

    position: relative;
    .addHabitBtn{
      height: 100%;
      width: 100%;
      cursor: pointer;
       background-color: rgba(220, 228, 243, 0.5);
      border: none;
      // background-color: aqua;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px 0 0 8px;
      &:hover{
         background-color: rgba(220, 228, 243, 0.5);
        svg{
          opacity: .7;
        }
      }
    }

    .addHabitInput {
      border: medium none;
      box-shadow: none;
      margin-bottom: 0px;
      padding: 0px;
      background: transparent none repeat scroll 0% 0%;
      
      max-height: 200px;
      min-height: 10px;
      resize: none;
      // padding: 10px;
      box-sizing: border-box;
      margin: 12px 10px;
      // background-color: hotpink;
      
    }
  }
}
