.container {
  // font-size: 2rem;

  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // background-color: aqua;

  // margin-top: 2rem;
  position: relative;

  .day {
    text-transform: uppercase;
    color: rgb(150, 146, 146);
    font-weight: 300;
  }



  .sidebar {
    width: 18rem;
    height: 100vh;
    background-color: #f7f6f3;
    // position: absolute;
    // left: 0;
    // right: 0;
  }

  .navbar {
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    top: 0;
    // right: 0;
    height: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // background-color: #F900BF;
    .outof {
      color: rgb(89, 114, 163);
      display: flex;
      -moz-box-align: center;
      align-items: center;
      font-size: 14px;
      padding-left: 10px;
      // margin-bottom: 15px;
      width: 120px;

      .status {
        text-decoration: underline;
        // cursor: pointer;
        font-size: 12px;
        min-width: 16px;
        text-align: center;
      }

      .progressWrapper {
        border-radius: 2px;
        height: 8px;
        flex: 1 1 0%;
        margin-left: 10px;
        background-color: rgba(220, 228, 243, 0.6);
        position: relative;
        overflow: hidden;

        .bar {
          position: absolute;
          left: 0px;
          top: 0px;
          height: 100%;
          border-radius: 2px;
          width: 35%;
          background-color: rgb(57, 183, 255);
          transition: width 200ms ease 0s;
        }
      }
    }
  }

  .bottomBar {
    // width: calc(100% - 18rem);
    width: 100%;
    position: absolute;
    bottom: 0;
    // right: 0;
    background-color: #f8f8f8;
    // background-color: #ff7474;
    // width: calc(100% - 18rem);
    // position: absolute;
    // right: 0;
    // height: 5rem;
    padding: 1rem;
    height: max-content;


    form{
      width: 768px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: .5rem;
      padding: 0 2rem;

      .addHabitBtn {
        height: 3rem;
        width: 3rem;
        // margin-right: 1rem;
        cursor: pointer;

        border: none;
        // background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;

        // position: absolute;
        // right: 5px;
        // bottom: 5px;
        background-color: #f900bf;
        align-self: flex-end;

        &:hover {
          //  background-color: rgba(220, 228, 243, 0.5);
          opacity: 0.7;
          svg {
            opacity: 0.7;
          }
        }
        &:disabled {
          cursor: not-allowed;
          background-color: rgba(220, 228, 243, 0.5);
        }
      }
    }

    .addTask {
      // padding: 12px 10px;
      // margin-top: 15px;
      border-radius: 8px;

      // display: grid;
      // // grid-template-columns: 40px 1fr min-content;
      // grid-template-columns: 1fr 50px;
      // -moz-box-align: center;
      // align-items: flex-end;
      // gap: 10px;
      background-color: rgba(220, 228, 243, 0.5);
      border-radius: 8px;
      padding: 0.5rem;
      // margin-top: 1rem;
      // margin-bottom: 10px;
      width: 100%;
      min-height: 3rem;

      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      // flex: 2;
      

      .addHabitInput {
        border: medium none;
        box-shadow: none;
        margin-bottom: 0px;
        padding: 0px;
        background: transparent none repeat scroll 0% 0%;

        // min-height: 10px;
        resize: none;
        // padding: 10px;
        box-sizing: border-box;
        // margin: 5px;
        align-self: center;
        width: 100%;
        // width: calc(100% - 1rem);
        // background-color: hotpink;
      }
    }
  }


  .main{
    // background-color: #f900bf;
    // width: calc(100% - 18rem);
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
}

.tasklist {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  // background-color: blue;
  width: max-content;
  // margin: auto;
   width: 768px;
    padding: 0 2rem;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: blue;
    // margin-bottom: 1rem;
  }
}
