.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: orange;
    width: 100%;
    min-height: 100vh;
    // .bg {
    //     // position: absolute;
    //     // left: 2rem;
    //     // top: 2rem;
    //     font-size: 13rem;
    //     // right: 0;
    //     // font-size: 300px;
    //     // background-color: rgb(212, 33, 33);
    //     color: var(--ac-1);
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     font-family: "Pacifico", cursive;
    // }
    background-color: #f0f2f5;
    a{
        color: var(--ac-1);
    }


  
}

.logo {
    font-size: 3rem;

    font-family: "Pacifico", cursive;
    color: var(--ac-1);
    position: absolute;
    // left: 3rem;
    top: 3rem;
    display: none;
}
.formContainer {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 1rem;
    margin: auto;
    // border: 2px solid var(--ac-1);
    padding: 2rem;
    // margin-top: 4rem;
    border-radius: 8px;
    position: relative;
    background-color: #fff;


    @media screen and (max-width: 500px) {
        width: 95vw;
    }
    .submitBtn{
        background-color: coral;
        border: none;
        border-radius: 22px;
        color: #000;
        margin-top: 1rem;
        padding: 1rem;
        cursor: pointer;
    }
    .linkto {
        margin-top: 1rem;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
        color: var(--ac-1);
        // background-color: #fcdfa5;
        // padding: 1rem 0;
        border-radius: 22px 22px 0 0;
        // font-size: 2rem;
        margin-bottom: 1rem;
    }

    button {
        width: 100%;
        margin-top: 0.5rem;
    }

    .formField {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        label{
            font-size: 1rem;
            // color: var(--ac-1);
            // text-transform: uppercase;
            margin-bottom: 0.3rem;
        }
        input {
            padding: 1rem;
            border: 2px solid #eee;
            border-radius: 4px;
        }
    }

    .checkbox {
        margin: .7rem 0;
    }

    .divider {
        margin: 1.5rem 0;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        color: gray;

        .text {
            margin: 0 1rem;
        }

        .line {
            border-top: 2px solid #edeff1;
            width: 50%;
        }
    }
}
